fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-community
google-genai
groq
langchain-groq
duckduckgo-search
python-dotenv
pydantic
faiss-cpu
tiktoken
python-multipart
beautifulsoup4
requests
lxml
langchain-google-genai
langchain-groq
gTTS
langdetect
pytest
